body {
    background-color: lightseagreen;
  }
  
  h1 {
    color: orange;
    margin-left: 20px;
  }
  h1 {
    color:blueviolet;
    margin-left: 20px;
  }
  h1 {
    color:palevioletred;
    margin-left: 20px;
  }